<!DOCTYPE html>
<html>
<head>
  <title>AvConcerns</title>
  <%= stylesheet_link_tag    "av_concerns/application", media: "all" %>
  <%= javascript_include_tag "av_concerns/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
